services:
  - type: static
    name: submissions-frontend
    env: static
    rootDir: .
    plan: free
    buildCommand: npm install && npm run build
    publishDir: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
